/* 比赛详情页 */

/* 标题 */
#title {
    margin: 40px 200px 20px 144px;
    /* margin-top: 40px;
    padding-bottom: 20px; */
    font-size: 2.2rem;
    /* padding-left: 144px;
    margin-right: 200px; */
}


/* 整体样式 */
.info {
    list-style: none;
    margin-left: 144px;
    margin-right: 200px;
    margin-bottom: 20px;
    font-size: small;
    border-top: 1px #cac9c9 solid;
    border-bottom: 1px #cac9c9 solid;
    
}

/* 可点击标题的样式 */
.info h1 a {
    text-decoration: none;
    color: black;
}

.info h1 a:hover {
    color: rgb(126, 121, 121);
}

/* 表格 */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
    font-family: consolas;
     
}

/* 隐藏部分内容 */
.list {
    display: block;
    height: 400px;
    overflow-y: scroll;
}

/* 表头样式 */
.info th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(239,178,73);
    color: rgba(255, 255, 255, 0.87);
}

/* 表格的边框 */
.info td, .info th {
    padding: 8px;
}

/* 设置表格黑白相间 */
.info tr:nth-child(even) {
    background-color: #f2f2f2;
}

.info tr:nth-child(odd) {
    background-color: white;
}

.info tr:hover {
    background-color: rgb(253, 218, 171);
}

/* 比赛相关中的重要事项 */
.info .important {
    font-weight: bold;
}

/* 使规则更易阅读 */
.info #about div{
    padding-left: 20px;
}

.info #about .more{
    padding-left: 40px;
}

/* 比赛还未开始时暂时隐藏赛果 */
.scores {
    display: none;
}

/* 详细成绩之间的间隙 */
.scores .total {
    word-spacing: 1rem;
}

/* 联系方式信息 */
.contact-info {
    margin-left: 144px;
}

/* 项目图标 */
@font-face {
    font-family: event-icon;
    src: url(../fonts/a629b101.eot);
    src: url(../fonts/a629b101.eot) format('embedded-opentype'),
      url(../fonts/7e72e072.ttf) format('truetype'),
      url(../fonts/e1b8e346.woff) format('woff'),
      url(../fonts/522e7e53.svg) format('svg');
    font-weight: 400;
    font-style: normal;
  }
  .event-icon {
    font-family: event-icon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .event-icon-333:before {
    content: '\E900';
  }
  .event-icon-222:before {
    content: '\E901';
  }
  .event-icon-444:before {
    content: '\E902';
  }
  .event-icon-555:before {
    content: '\E903';
  }
  .event-icon-666:before {
    content: '\E904';
  }
  .event-icon-777:before {
    content: '\E905';
  }
  .event-icon-333bf:before {
    content: '\E906';
  }
  .event-icon-333fm:before {
    content: '\E907';
  }
  .event-icon-333oh:before {
    content: '\E908';
  }
  .event-icon-333ft:before {
    content: '\E909';
  }
  .event-icon-minx:before {
    content: '\E90A';
  }
  .event-icon-pyram:before {
    content: '\E90B';
  }
  .event-icon-clock:before {
    content: '\E90C';
  }
  .event-icon-skewb:before {
    content: '\E90D';
  }
  .event-icon-sq1:before {
    content: '\E90E';
  }
  .event-icon-444bf:before {
    content: '\E90F';
  }
  .event-icon-555bf:before {
    content: '\E910';
  }
  .event-icon-333mbf:before,
  .event-icon-submission:before {
    content: '\E911';
  }
  .event-icon-magic:before {
    content: '\E912';
  }
  .event-icon-mmagic:before {
    content: '\E913';
  }
  .event-icon-stack:before {
    content: '\E914';
  }
  .event-icon-funny:before {
    content: '\E91B';
  }
  .event-icon-registration:before {
    content: '\E915';
  }
  .event-icon-intro:before {
    content: '\E916';
  }
  .event-icon-break:before {
    content: '\E917';
  }
  .event-icon-lunch:before {
    content: '\E918';
  }
  .event-icon-ceremony:before {
    content: '\E919';
  }
  .event-icon-lucky:before {
    content: '\E91A';
  }
  .event-icon-redi:before {
    content: '\E91D';
  }
  .event-icon-kilominx:before {
    content: '\E91E';
  }
  .event-icon-333relay:before {
    content: '\E91C';
  }
  

/* 移动端适配 */
@media screen and (max-width: 768px) {
    #title {
        margin: 15px 0;
        text-align: center;
        font-size: 30px;
    }

    .info {
        margin: 0;
        width: 90%;
        margin: 0 auto;
    }

    .contact-info {
        margin: 0;
        padding: 20px 10px;
        text-align: center;
    }
}