/* 赛事页面 */

/* 比赛行（一行三个比赛） */
.competitions-list-row {
    position: relative;
    height: 280px;
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

/* 单个比赛 */
.competition-item {
    position: absolute;
    width: 300px;
    box-sizing: border-box;
    padding: 7px;
    background-color: rgb(239,178,73);
    border-radius: 12px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    transition-timing-function: ease-out;
    transition-property: height, width, left, right, font-size;
    transition-duration: 1s;
}

.competition-item:hover {
    width: 320px;
    font-size: 18px;
}

/* 比赛标题 */
.competition-item a {
    color: rgb(82, 79, 79);
    text-decoration: none;
}

/* 主要的比赛，如 NCW2015 */
.major-competition {
    height: 240px;
}

.major-competition:hover {
    height: 255px;
}

/* 次要的比赛，如 CY2021 */
.minor-competition {
    height: 210px;
}

.minor-competition:hover {
    height: 225px;
}

/* 每行各个比赛的位置（左，中，右） */
.competition-item:nth-child(1) {
    left: 10%;
}

.competition-item:nth-child(2) {
    left: calc(50% - 150px);
}

.competition-item:nth-child(3) {
    right: 10%;
}

/* 针对每行各个比赛hover时的位置偏移微调 */
.competition-item:nth-child(1):hover {
    left: calc(10% - 10px);
}
.competition-item:nth-child(2):hover {
    left: calc(50% - 160px);
}
.competition-item:nth-child(3):hover {
    right: calc(10% - 10px);
}
  
.competition-img {
    height: auto;
    width: 100%;
    border-radius: 12px;
}