/* 首页 */

#news-list {
  list-style: none;
  margin: 40px 344px 0 144px;
}

.news-item {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 4px 20px;
  border: 3px #ddd solid;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  transition: border 0.3s;
}

.news-item:hover {
  border: 3px #aaa solid;
}

.news-item h2, p {
  font-weight: 400;
  margin: 8px 0;
}

.news-item p.news-id {
  position: absolute;
  right: 20px;
  bottom: 5px;
}