body {
    background: url("https://cdn.jsdelivr.net/gh/youranium/source-cdn/images/Logo2.jpg") no-repeat;    
    background-attachment: fixed;
    background-position-y: 230px;
    background-position-x: center;
}

.bkgimg {
    background-color: rgba(255,255,255,77%);
}

.navbar {
    display: block;
    background-color: white;
    line-height: 2rem;
}

.Logo {
    padding-left: 164px;
    padding-top: 25px;
}

#menu-bar {   
    padding-left: 144px;
    display: block;
    background-color: rgb(239,178,73,255);
    height: 3.3rem;
    word-spacing: -1rem;     /*消除换行符的影响*/
}

#menu-bar a {
    display: inline-block;
    height: 3.3rem;
    width: 4.8rem;
    line-height: 3.3rem;
    text-align: center; /*设置垂直居中*/
    text-decoration: none;
    color: rgb(82, 79, 79);
    font-size: 15px;
    transition-duration: 0.4s;
}  

#menu-bar a:hover {
    background-color: rgb(250, 200, 136);
    color: white;
    font-size: 15.8px;
}

#home {
    background-color: rgb(250, 200, 136);
    color: white !important;
    font-size: 15.8px !important
}

#competitions {
    background-color: rgb(250, 200, 136);
    color: white !important;
    font-size: 15.8px !important
}

#score {
    background-color: rgb(250, 200, 136);
    color: white !important;
    font-size: 15.8px !important
}

#tools {
    background-color: rgb(250, 200, 136);
    color: white !important;
    font-size: 15.8px !important
}

#info {
    background-color: rgb(250, 200, 136);
    color: white !important;
    font-size: 15.8px !important
}

.posts {
    list-style: none;
    padding-left: 144px;
}

ul.competitions {
    list-style: none;
    padding-left: 144px;
    padding-top: 30px;
    text-decoration: none;
}

#NCW2015 {
    border-width: 3px;
    border-radius: 12px;
    border-style: solid;
    border-color: rgb(239,178,73,255);
    height: auto;
    width: 98%;
}

li > a > .Schoolgame {
    border-width: 3px;
    border-radius: 12px;
    border-style: solid;
    border-color: rgb(239,178,73,255);
    height: auto;
    width: 98%;
}

.NCW2015 {
    display: inline-block;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-width: 3px;
    border-radius: 12px;
    border-style: solid;
    border-color: rgb(239,178,73,255);
    height: 14rem;
    width: 280px;
    background-color: rgb(239,178,73,255);
    text-align: center;
    transition-timing-function: ease-out;
    transition: height 1s, width 1s,font-size 1s;
}

li:not(.NCW2015):nth-child(-n+3) {
    margin-left: 90px;
    display: inline-block;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-width: 3px;
    border-radius: 12px;
    border-style: solid;
    border-color: rgb(239,178,73,255);
    height: 177px;
    width: 250px;
    background-color: rgb(239,178,73,255);
    text-align: center;
    transition-timing-function: ease-out;
    transition: height 1s, width 1s,font-size 1s;

}

li:not(.NCW2015):nth-child(-n+3):hover {
    font-size: 18px;
    height: 190px;
    width: 270px;
}

.NCW2015:hover {
    font-size: large;
    height: 15rem;
    width: 300px;
}

.game,.Schoolgame{
    text-decoration: none;
    color: rgb(82, 79, 79);
}

.info {
    text-align: center;
}

.footer {
    display: block;
    background-color: rgba(43,43,43,255);
    border-bottom: 0;
    padding: 60px;
    color: rgba(220,220,220,255);
}
  